@model	List<Ecomarce.Models.Entites.Product>
<h1>all products</h1>
<a asp-action="add" class="btn btn-outline-dark">add product</a>
@if(Model == null)
{
	
	<h1>not found</h1>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
                <th>Price</th>
				<th>Description</th>
				<th>Quntity</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var p in Model)
			{
				<tr>
					<td>@p.Name</td>
					<td>@p.Price</td>
					<td>@p.Description</td>
					<td>@p.Quntity</td>
					<td><a asp-action="update" asp-route-id="@p.ProductID" class="btn btn-warning">update</a></td>
					<td><a asp-action="delete" asp-route-id="@p.ProductID" class="btn btn-danger">delete</a></td>
                </tr>
			}
        </tbody>
	</table>
}
